@page "/details/{id:int}"

@using BloggerLibrary
@inject ArticlesApiClient ArticlesApiClient
@inject NavigationManager Navigation
@rendermode InteractiveServer

<h3>Article Details</h3>

@if (article == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>@article.Title</h2>
    <p><strong>By:</strong> @article.ContributorUsername</p>
    <p><strong>Start Date:</strong> @article.StartDate.ToShortDateString()</p>
    <p>@article.Body</p>
}

<button @onclick="NavigateToHome" class="btn btn-secondary">Back to Home</button>


@code {
    [Parameter]
    public int Id { get; set; }

    private Article? article;

    protected override async Task OnInitializedAsync()
    {
        article = await ArticlesApiClient.GetArticleByIdAsync(Id);
    }

    private void NavigateToHome()
    {
        Navigation.NavigateTo("/");
    }
}
