@page "/Account/RegisterSuccess"
@inject NavigationManager NavigationManager

<h3>Registration Successful</h3>
<p>You have successfully registered. Click here to <a href="Account/Login">Login</a>.</p>

