@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the Blogger app</h1>

<p>Click here to <a href="Account/Login">Login</a>.</p>

<p>Dont have an account? Click here to <a href="Account/Register">Register</a>.</p>

<footer class="border-top footer text-muted">
    <div>
        &copy; 2025 - BlogApp - Davin Higo, Noel Kim, Sohee Hwang
    </div>
</footer>