@inherits LayoutComponentBase

<!-- NAVIGATION BAR -->
<NavMenu />

<!-- MAIN CONTENT -->
<main>
    <article class="content px-4">
        @Body
    </article>
</main>

<!-- FOOTER  -->
<footer class="border-top footer text-muted mt-4 py-3 text-center">
    <div>
        &copy; 2025 - BlogApp - A01366230 Davin Higo, A01259986 Noel Kim, A01323140 Sohee Hwang
    </div>
</footer>
